
%h3 You are Watching
  
%table  
  - @watched_lists.each do |list|
    %tr
      %td= link_to list.name, user_todo_list_path(list.user, list)
      %td= link_to "Unwatch", unwatch_todo_list_todo_list_path(list), :method => 'delete', :class => "unwatch_link"
      


%p= link_to 'New todo-list', new_todo_list_path

%h3 To-do lists created by you

%table
  %tr
    %th
      Name
  - @todo_lists.each do |list|
    %tr 
      %td= link_to list.name, todo_list_path(list)
      %td= link_to "Edit", edit_todo_list_path(list)
      %td= link_to "Delete", todo_list_path(list), :method => :delete
      
