

= simple_form_for @todo_list do |f| 
  = f.input :name 
  = f.input :description
  = f.input :deadline
  #todo_items  
    %table
      - f.simple_fields_for :todo_items do |form_nested|
        %tr.inactive
          %td Description:
          %td= form_nested.input :description, :label => false, :input_html => { :size => 30 }
          %td Deadline: 
          %td= form_nested.input :deadline, :as => :string, :label => false, :input_html => { :size => 10 }
          %td= form_nested.input :done
          %td= link_to "X", "#", :class => "close_this_todo_item"
      = link_to "New to do item", "#", :id => "new_to_do_link"
  
  = f.button :submit

