%h2= "#{@user.name} Profile"

%p
  - unless @user.photo.blank?
    = image_tag(@user.photo.url)

%p
  Name:
  = @user.name

%p
  E-mail:
  = @user.email
  
%h3 Public To-do-lists

- if current_user == @user
  %p
    = link_to "Create list", new_user_todo_list_path(current_user)

  %ul
    - @user.todo_lists.each do |todo_list|
      %li= link_to todo_list.name, user_todo_list_path(@user,todo_list)
  


