


%h3
  = link_to @todo_list.user.name, user_path(@todo_list.user)
  = '/' + @todo_list.name
  
- if current_user
  %p= link_to "Watch this list", watch_todo_list_user_todo_list_path(@todo_list.user, @todo_list, :format => 'js')
  

%table
  %tr
    %th
      Description
    %th
      Deadline
    %th
      Status
  - @todo_list.todo_items.each do |item|
    %tr
      %td= item.description 
      %td= item.deadline
      %td= item.done? ? "Yes" : "No"
        



