!!! 1.0

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=UTF-8" }
    %meta{ :name => "author", :content => "Rodrigo Flores" }
    %meta{ :name => "distribution", :content => "global" }
    %meta{ :name => "revisit-after", :content => "30 days" }
    %meta{ :name => "copyright", :content => "Rodrigo Flores" }
    %title= yield(:title) || "Untitled" 
    = include_stylesheets :base
    = csrf_meta_tag 
    = yield(:head) 
  %body
    #container
      .header
        %table{ :id => 'header_table'}
          %tbody
            %tr
              %td
                .logo
                  %h1
                    Todoers            
              %td{ :id => 'user_menu'}
                - if current_user 
                  %strong Logged in as:
                  = current_user.email
                  
                  = link_to destroy_user_session_path do
                    Log out 
                - else 
                  = link_to "Sign in", new_user_session_path 
                  = link_to "Sign up", new_user_registration_path 

      
      - flash.each do |name, msg| 
        = content_tag :div, msg, :id => "flash_\#{name}" 
      
      = content_tag :h1, yield(:title) if show_title? 
      
      #content
        = yield
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"
    = include_javascripts :base

